################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Denovo.Web/bin
/packages
/.vs/Denovo.Web/v15
/Denovo.Web/obj/Debug
